.skeleton
    .img.r5-3
    .hr
        .px-xxs
            .title
            .text 
            .text 
            .text 
            .text 
            .text 
            .text 
            .text 
            .text 
            .text 
            .text 