extends ./template/_pageTemplate.jade

block title 
    | 少年任務

block content 
    .mission.animated.fadeIn
        .page-title-wrap
            h2.mission-greeting 
                span.mission-greeting-star Hi, bean 友
                p 現在就來玩翻任務吧！
            a.history-link(href="./mission-history.html")
        // 任務二
        .mission-wrap
            h3.mission-title.t-c.mt-md 敬請期待新任務喔～

